*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

.loginForm{
	border: 1px solid black;
	width: 200px;
	height: 150px;
	margin: 0 auto;
}

.regForm{
	display: none;
	border: 1px solid black;
	width: 200px;
	height: 250px;
	margin: 0 auto;
}

.msg{
	color:red;
	font-size: 10px;
}

